replicaCount: 1

image:
  repository: ghcr.io/jj8817/hello-world-flask
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
